/* font-family: 'Tilt Warp', cursive; */

header {
  background-color: #414868;
  margin-bottom: 25px;
  transition: 0.5s ease;
}

.h1-match, .h1-menu {
  font-family: 'Tilt Warp', cursive;
  line-height: 1.1;
  text-align: center;
}

.h1-match {
  font-size: 3em;
}

.h1-menu {
  font-size: 5em;
}

@media screen and (max-width: 460px) {
  .h1-menu {
    font-size: 4em;
  }

  .h1-match {
    font-size: 2.5em;
  }
}