.btn-board {
  --border-style: 2px solid #565f89;
  background: transparent;
  outline: hidden;
  font-size: 60px;
  width: 150px;
  height: 150px;
}

.btn-next, .btn-board {
  border: none;
}

.match, .btn-board, .section-icons, .section-btn-next{
  align-items: center;
  display: flex;
}

.match, .section-icons {
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}

.match, .btn-board, .section-btn-next {
  justify-content: center;
}

.match {
  flex-wrap: wrap;
  top: 20%;
  width: 460px;
  z-index: 2;
}

.btn-board:nth-child(1),
.btn-board:nth-child(4) {
  border-bottom: var(--border-style);
  border-right: var(--border-style);
}

.btn-board:nth-child(2),
.btn-board:nth-child(5) {
  border-bottom: var(--border-style);
}

.btn-board:nth-child(3),
.btn-board:nth-child(6) {
  border-bottom: var(--border-style);
  border-left: var(--border-style);
}

.btn-board:nth-child(7) { border-right: var(--border-style); }

.btn-board:nth-child(9) { border-left: var(--border-style); }

.btn-board-x:disabled {
  text-shadow: 0 0 5px #73daca;
}

.btn-board-o:disabled {
  text-shadow: 0 0 5px #e0af68;
}

.btn-board-x:disabled, .icon1 svg {
  color: var(--color-x);
}

.btn-board-o:disabled, .icon2 svg {
  color: var(--color-o);
}

.btn-next {
  background-color: #b4f9f8;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  padding: 5px;
  transition: 0.3s ease;
}

.btn-next:hover {
  box-shadow: 0 0 15px #9aa5ce;
}

.btn-next, .section-icons div p {
  font-weight: bold;
}

.section-icons {
  justify-content: space-between;
  width: 80%;
  top: 30%;
  z-index: 1;
}

.section-icons svg {
  font-size: 200px;
}

.icon1, .icon2 {
  border-radius: 40px;
  box-shadow: 0 0 4px black;
}

.event1, .event2 {
  box-shadow: 0 0 15px black;
}

.event1 svg, .event2 svg {
  transition: 0.3s ease;
}

.event1 svg {
  filter: drop-shadow(0 0 5px var(--color-x));
}

.event2 svg {
  filter: drop-shadow(0 0 5px var(--color-o));
}

.section-icons div p {
  text-align: center;
  font-size: 19px;
}