@media screen and (max-width: 1190px) {
  .section-icons svg {
    font-size: 130px;
  }

  .icon1, .icon2 {
    border-radius: 25px;
  }
}

@media screen and (max-width: 955px) {
  .section-icons {
    justify-content: space-around;
    margin-bottom: 50px;
    position: static;
    transform: translate(10%);
  }

  .section-icons svg {
    font-size: 100px;
  }

  .icon1, .icon2 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    width: 37%;
  }

  #p-player-id-1 {
    order: 3;
  }

  .icon2 svg {
    order: 2;
  }

  .match {
    margin-bottom: 40px;
    position: relative;
    width: 390px;
    left: 50%;  
    transform: translate(-50%);
  }

  .btn-board {
    height: 130px;
    width: 130px;
  }
}

@media screen and (max-width: 720px) {
  .icon1, .icon2 {
    width: 47%;
  }

  .p-player {
    font-size: 30px;
  }

  .section-icons svg {
    font-size: 70px;
  }
}

@media screen and (max-width: 500px) {
  .p-player {
    margin-right: 7px;
    margin-left: 7px;
  }

  .btn-next {
    width: 50%;
  }
}

@media screen and (max-width: 376px) {
  /* .section-icons svg {
    font-size: 150px;
  } */

  .icon1, .icon2 {
    width: 45%;
    height: 70px;
  }

  .match {
    width: 340px;
  }

  .btn-board {
    height: 110px;
    width: 110px;
  }

  .section-icons svg {
    display: none;
  }
}